.container_____
{
    width: 100%;
    min-height: auto;
    height: auto;
}
.span_about
{
    text-align: left;
    font-size: 17px;
    color: white;
}
.about_row
{
    width: 100%;

}
.aboutText
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
@media screen and (max-width: 750px) {
    .span_about {
        text-align: center;
        font-size: 14px ;
    }
}