.container_____
{
    width: 100%;
    min-height: auto;
    height: auto;

}
.span_about
{
    padding-top: 15px;
    text-align: left;
    font-size: 17px;
    color: #6c757d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14.5px;
}
.about_row
{
    width: 100%;

}
.aboutText
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 14px;
}
@media screen and (max-width: 750px) {
    .span_about {
        text-align: center;
        font-size: 14px ;
    }
}