.container__
{
    height: auto;
    width: 100%;
    background: white;
}
.exText
{
    width: fit-content;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background: #282c34;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.zoomImage
{
    transition: 0.5s all ease-in-out;
}
.zoomImage:hover
{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    cursor: pointer;
}
.card_video
{
    width: 100%;
}