.container__
{
    height: auto;
    width: 100%;
    background: white;
}
.exText
{
    width: fit-content;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #6e44ff;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #6e44ff;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s;
}
.zoomImage
{
    transition: 0.5s all ease-in-out;
}
.card_imge
{
    object-fit: contain;
    width: 100%;
    height: 55vh;
    background: white;
    /*background: rgba(110, 68, 255, 0.9);*/

}
.card_video
{
    object-fit: contain;
    width: 100%;
    height: 55vh;
    background: white;

}
.card__
{
    background: #F1F1F1;
}
.carousel
{
    z-index: 0;
    max-width: 100%;
    min-width: 100%;
}
.full_screen_icon
{
    opacity: 1;
    transition: 0.4s;
    z-index: -1;
    float: right;
    margin-right: 8px;
}
.full_screen_icon:hover
{
    cursor: pointer;
}
/*.carousel:hover .full_screen_icon*/
/*{*/
/*    opacity: 1;*/
/*    cursor: pointer;*/
/*}*/
.card_image_and_full_screen_icon_container
{
    justify-content: center;
    align-items: center;
}
.carousel-control-prev
{
    height: 80%;
    margin-top: 80px;
}
.carousel-control-next
{
    height: 80%;
    margin-top: 80px;
}
.carousel-control-next-icon
{
    /*background: #6e44ff;*/
}
.carousel-control-prev-icon, .carousel-control-next-icon {

    filter: invert(100%);
}
.carousel-indicators
{
    filter: invert(100%);
}
.card_topic_container
{
    background: #6e44ff;
}
