.container___
{
    background:transparent;
    height: 413px;
    width: auto;
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;

}
.icon
{
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;

}
.iconDiv
{
    padding-left: 15px;
    padding-right: 15px;
}
.ros
{
    margin-left: 0;
    margin-right: 0;
}
a{
    color: inherit;
}
a:hover
{
    color: inherit;
}

.phone_number_text
{
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    font-size: 15px
}
.email_text
{
    color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    font-size: 15px;
}