.dialog_content
{
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
}
.dialog_toolbar
{
    background: #6e44ff;
    width: 100%;
    height: 50px;
}
.dialog_close
{
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.container_dialog
{
    background: white;
    margin-top: 22px;
}