.nv{
    position: fixed;
    width: 100%;
    z-index:1;
    background: #282c34;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
a
{
    cursor: pointer;
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}
.buttonSpan
{
    color: white;
}
.nav-link
{
    border-bottom: 3px solid transparent;
}
.nav-link_underlined
{
    border-bottom: 3px solid white;
}