.tag_container
{
    padding: 5px 10px;
    width: fit-content;
    margin: 5px;
    height: fit-content;
    border-radius: 6px;
    background: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.tag_text
{
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}
.tag_container:hover
{
    background: white;
    color: black;
    border: 1px solid black;
}
