.tech-container-main
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    height: 100vh;
    background-color: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.tech-item-container
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;
    height: 80%;

}
.tech-item
{
    border : 2px solid #dee2e6;
    border-style: dashed;
    margin-bottom: 8px;
    width: 100%;
    margin: 5px;
    height: 40%;
    background-color: white;
    transition: .5s;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
.tech-item:hover
{
    border : 3px solid #555;
}
.card-image-tech
{
    object-fit: contain;
    width: 85%;
    height: 85%;
    position: absolute;
    transition: 0.5s;
    transition: 0.5;
}
.card-image-tech:hover{

    transform: scale(1.5);
}