.__container
{
    width: 100%;
    background: #F1F1F1;
    height: auto;
    padding-bottom: 100px;
}
.tech_icon
{
    width: 100%;
}
.card-title
{

    width: fit-content;
    font-family: 'Viga', sans-serif;
    background: yellow;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
}